.ns-lmld-2016 {

	footer {
		width: 100%;
		height: auto;
		background-color: $darkGrey;
		padding: 20px;
		text-align: center;
		margin-top: 70px;

		.discover {
			font-size: 30px;
			color: #fff;
			line-height: 54px;
			margin: 40px 0;

			.icon {
				background: $yellowLmld;
				display: inline-block;
				width: 88px;
				height: 53px;
			}

			button {
				text-transform: uppercase;
				letter-spacing: 2px;
				line-height: 54px;
				font-size: 30px;
				background: transparent;
				border: none;
				color: #fff;
				margin: 50px 320px;
			}
		}
	}

}