// Responsive

@media screen and (max-width: 600px) {
  header {
    padding-left: 40px;
    padding-right: 40px;
    width: calc(100% - 80px);
    .menu {
      .container {
        nav {
          left: 40px;
          bottom: 100px;
          a {
            font-size: 26px;
            line-height: 50px;
            font-weight: 100;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
  .content {
    .home-content {
      .wrapper {
        padding-left: 40px;
        padding-right: 40px;
        margin: 0;
        .home-shapes {
          .shape1 {
            top: 60px;
            left: auto;
            right: -160px;
            #shape1-4 {
              display: none;
            }
            #shape1-6 {
              display: block;
            }
          }
          .shape2 {
            margin-left: -160px;
            top: 40px;
            svg {
              width: 400px;
              height: 304px;
            }
          }
        }
        .yellow-hello {
          width: calc(100% - 80px);
        }
      }
      .projects {
        .thumbnail {
          .block {
            width: 100%;
            .title-container {
              font-size: 20px;
              top: 350px;
              text-align: left;
              h4, p {
                display: block;
                line-height: 30px;
              }
              .separator {
                display: none;
              }
            }
          }
        }
      }
      .studio {
        padding: 60px 30px 0 30px;
        .text {
          max-width: 80%;
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 1.5px;
        }
        .studio1 {
          margin-left: 0;
          width: 100%;
        }
        .studio2 {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
    .projects-content {
      .wrapper {
        margin-left: 40px;
        margin-right: 40px;
        .thumbnail {
          width: 100%;
          margin-bottom: 40px;
        }
      }
    }
  }
  footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    .get-updates {
      .updates {
        width: 100%;
        .title {
          font-size: 20px;
          padding-top: 80px;
          line-height: 28px;
          margin: 0 40px;
        }
        .form {
          width: 80%;
          position: relative;
          margin: 0 auto;
          left: auto;
          bottom: -30px;
        }
      }
    }
  }
}