// Responsive

@media screen and (max-width: 600px) {
  header {
    .menu {
      .container {
        nav {
          left: 40px;
          bottom: 40px;
          a {
            font-size: 26px;
            line-height: 50px;
            font-weight: 100;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}