.ns-lmld-2016 {

	.home-block {
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;

		.block {
			width: 500px;
			height: 300px;
			margin: 50px;
			position: relative;

			.content {
				background: $yellowLmld;
				width: inherit;
				height: inherit;
				position: absolute;
				z-index: 999;
				/* temporary: needs to be calc dynamic on the component */
				min-width: 100%;
				min-height: 100%;
			}
		}

		&.case-study-twix {
			.content {
				background: #0cf;
			}
		}
	}

}