.home-shapes {
  .shape1 {
    position: absolute;
    width: 517px;
    height: 393px;
    top: calc(60vh - 300px);
    left: 50%;
    margin: 0 0 0 -50px;
    z-index: 12;
    #shape1-6 {
      display: none;
    }
  }
  .shape2 { 
    position: absolute;
    width: 517px;
    height: 393px;
    top: calc(60vh - 300px);
    left: 50%;
    margin: 0 0 0 -100px;
    z-index: 12;
  }
  .shape {
    opacity: 0;
  }
}