.home-content {
  .wrapper {
    margin-left: 60px;
    margin-right: 60px;
    .logo-home {
      height: 60vh;
      vertical-align: bottom;
      &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: bottom;
      }
      .logo-container {
        margin-bottom: 60px;
      }
    }
    .yellow-hello {
      width: 100%;
      background-color: $yellow;
      height: 40vh;
    }

  }
  .studio {
    background-color: $darkGrey;
    min-height: 600px;
    padding: 60px 60px 0 60px;
    .text {
      font-family: 'Larsseit';
      font-weight: 100;
      font-size: 28px;
      color: #fff;
      max-width: 60%;
      line-height: 50px;
    }
    .studio1 {
      display: block;
      margin-left: 40%;
      margin-top: 60px;
      width: 60%;
    }
    .studio2 {
      display: block;
      width: 60%;
    }
  }
}