.ns-lmld-2016 {
  .studio {
    background-color: $darkGrey;
    min-height: 600px;
    padding: 60px 60px 0 60px;
    .text {
      font-family: 'Larsseit';
      font-weight: 100;
      font-size: 28px;
      color: #fff;
      max-width: 60%;
      line-height: 50px;
    }
    .studio1 {
      display: block;
      margin-left: 40%;
      margin-top: 60px;
      width: 60%;
    }
    .studio2 {
      display: block;
      width: 60%;
    }
  }
}