.ns-lmld-2016 {

	.home-block {
		width: 100%;
		height: 328px;
		position: relative;
		z-index: 1;
		margin: 70px 0 0 0;
		text-align: left;

		.block {
			width: 500px;
			height: 328px;
			position: relative;
			display: inline-block;

			.content {
				background: $yellowLmld;
				width: inherit;
				height: inherit;
				position: absolute;
				z-index: 1;
				/* temporary: needs to be calc dynamic on the component */
				min-width: 100%;
				min-height: 100%;
				overflow-y: auto;

				> div {
					margin-top: 100vh;
					background-color: #888;
				}
			}
		}

		&.case-study-vans {
			.content {
				background: #E9ECF0;
			}
		}

		&.case-study-twix {
			.content {
				background: #0cf;
			}
			.block {
				left: calc(100% - 500px);
			}
		}

		.title-container {
			margin-top: 60px;
			position: absolute;
			z-index: 2;
			top: 0%;

			h4 {
				font-family: 'Larsseit';
				font-size: 50px;
				color: #000000;
				letter-spacing: 1.66px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			p {
				font-family: Helvetica;
				font-size: 18px;
				color: #191919;
				letter-spacing: 0.5px;
				line-height: 30px;
			}
		}

		&.left {
			.title-container {
				left: 80%;
				width: 100%;
			}
		}
		&.right {
			.title-container {
				right: 85%;
				width: 100%;
				text-align: right;
			}
		}

	}

}