body {
	&.noscroll {
		overflow-y: hidden;
		width: 100vw;
		height: 100vh;
	}
}

.ns-lmld-2016 {
	overflow-x: hidden;
	.main {
		width: 100vw;
		height: auto;
		background: #fff;

		.content {
			min-height: 400px; /* dev only */
		}

	}
}