.ns-lmld-2016 {
	.project-container {
		width: 100%;
		height: auto;
		min-height: 100vh;
		.poster {
			width: 100vw;
			height: 100vh;
			z-index: 1;
		}
		.content {
			width: 100%;
			z-index: 2;
			background-color: #ccc;
			color: #fff;
			font-size: 24px;
			line-height: 33px;
			padding: 50px;
		    box-sizing: border-box;
		}
	}
}